/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* button (such as search button) */
.Btn {
  padding: 5px 40px;
  border-radius: 15px;
  border: #119B9D solid 2px;
  background-color: #F5F5F5;
  color: #119B9D;
  font-weight: bold;
}

/* flexed row */
.row {
  display: flex;
  justify-content: space-between;
}

/* columns within the row */
.col,
.col-2,
.col-3 {
  background-color: #659DA1;
  color: white;
  padding: 20px;
  margin: 10px 10px;
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}


/* navbar: .nav main container & .nav-links the links container*/
.nav {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
}

.nav-links>li {
  margin: 10px;
}