.container {
  padding: 50px 50px;
}

div {
  margin: 10px 0px;
}

.searchBtn {
  padding: 5px 40px;
  border-radius: 15px;
  border: #119B9D solid 2px;
  background-color: #F5F5F5;
  color: #119B9D;
  font-weight: bold;
}

.plusBtn {
  border-radius: 50%;
  border: 0px;
  background-color: #00D1B2;
  color: white;
  font-size: xx-large;
  padding: 0px 8px;
}

.createAccountBtn {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  background-color: #2B78E4;
  color: white;
  padding: 5px 30px;
}